{{>body}}
<h1>Welcome to Silex-Silicon!<h1>
<h3> Hi {{ nome }}, this is a Silex Skeleton App for little PHP appliations.</h3>
<h4> Help us for make a better Silex-Silicon. Fork-me on Github!</h4>
<p> This skeleton contains:
    <ul>
        <li> Mustache Template Engine.</li>
        <li> Silex/Application - For the core.</li>
        <li> Symfony/form.</li>
        <li> Symfony/validator</li>
        <li> Web profiler.</li>
        <li> Various Symfony components!</li>
        <li> Check the composer.json for more.</li>
    </ul>
</p>
{{>footer}}
